<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=192.168.2.201;Initial Catalog=ClmsFrameworkSampleDB;Integrated Security=False;User ID=AppDev;Password=AppDev" name="Database" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="SQLQueryTimeoutInSeconds" value="30" />
    <add key="SeedSecurityTables" value="true" />
    <add key="DisableAccessLog" value="false" />
    <add key="ZipWebRequests" value="false" />
    <add key="TestMode" value="true"/>
    <add key="TestModeEmail" value="test@clms.framework.com"/>
    <add key="EmailSeparatorCharacter" value=""/>
    <add key="IMAP:host" value="" />
    <add key="IMAP:port" value="0" />
    <add key="IMAP:enableSSL" value="false" />
    <add key="IMAP:username" value="" />
    <add key="IMAP:password" value="" />
  </appSettings>
</configuration>