<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=192.168.2.201;Initial Catalog=cfTests_4_gtheofilis;Integrated Security=False;User ID=g.theofilis@clmsuk.com;Password=f8743baeb8bc41939c3f6989d256f640c9953e790de84c839b0eb872e1a817ce1@" name="Database" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="ZipWebRequests" value="false" />
  </appSettings>
</configuration>