<!--
Copyright (c) 2017 CLMS. All rights reserved.
Licensed under the AGPL-3.0 license. See LICENSE file in the project root for full license information.
-->
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">zAppDev.DotNet.Framework.Data.SqlLiteDriver, zAppDev.DotNet.Framework</property>
    <property name="connection.connection_string">Data Source=:memory:; Mode=Memory; Cache=Shared</property>
    <property name="dialect">NHibernate.Dialect.SQLiteDialect, NHibernate</property>
    <property name="adonet.batch_size">100</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="generate_statistics">true</property>
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.use_query_cache" >true</property>
    <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>

    <mapping assembly="zAppDev.DotNet.Framework.Tests" />
  </session-factory>
</hibernate-configuration>