<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="unit@clms.framework.com">
        <network host="smtp.mailtrap.io" password="9ecc6422a162d1" port="25" userName="44243e80b880788e2" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>