<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 CLMS. All rights reserved.
Licensed under the AGPL-3.0 license. See LICENSE file in the project root for full license information.
-->
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="unit@clms.framework.com">
        <network host="smtp.mailtrap.io" password="9ecc6422a162d1" port="25" userName="44243e80b880788e2" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>