<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net debug="false">
		<!-- Define some output appenders -->
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<encoding value="utf-8" />
			<param name="File" value="App_Data\Logs\log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value=".yyyy.MM.dd.'txt'" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<appender name="DataValidationErrorsAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<encoding value="utf-8" />
			<param name="File" value="App_Data\Logs\DataValidationErrors.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value=".yyyy.MM.dd.'txt'" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<priority value="INFO" />
			<appender-ref ref="rollingFile" />
		</root>
		<logger name="NHibernate">
			<level value="WARN" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="WARN" />
		</logger>
		<logger name="NHibernate.Cache.ReadWriteCache">
			<level value="ERROR" />
		</logger>
		<logger name="DataValidationErrors">
			<level value="ALL" />
			<appender-ref ref="DataValidationErrorsAppender" />
		</logger>
	</log4net>
</configuration>